KeynotePPTX/.build/
KeynotePPTX/*.xcodeproj/xcuserdata/
KeynotePPTX/*.xcworkspace/xcuserdata/
KeynotePPTX/DerivedData/
KeynotePPTX/.swiftpm/xcode/
KeynotePPTX/TestData/
KeynotePPTX/keynotepptx.xcodeproj/project.xcworkspace/xcuserdata
